<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />

        <title><%=title%></title>
        <!-- adding materialize css  -->
        <link rel="stylesheet" href="/css/materialize.css"/>

        <!-- adding materialize icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>

    </head>
    <body>
        <nav class="navbar">
            <div class='header-container nav-wrapper white'>
                <a href="/">
                    <span class="black-text flow-text" style="">LIBRARY MANAGEMENT SYSTEM</span>
                </a>
                <a class="btn waves-effect waves-light right round-border"  href="/books/add">Add Book</a>
            </div>
        </nav>